---

---

<script>
  import Swiper from "swiper/bundle";

  const swiper = new Swiper(".swiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 15,
      stretch: 0,
      depth: 300,
      modifier: 1,
      slideShadows: true,
    },
    loop: true,
  });
</script>

<section id="galeria">
  <div>
    <h1>Galeria</h1>
  </div>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/Images/Tefa1.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Juli1.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Jacqui1.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Esther1.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Flor2.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Nora4.jpg" alt="alt" height="450px" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Tefa2.jpg" alt="alt" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Juli2.jpg" alt="alt" height="450px" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Juli2.jpg" alt="alt" height="450px" />
        </div>
        <div class="swiper-slide">
          <img src="/Images/Nora1.jpg" alt="alt" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    margin-bottom: 10rem;
  }

  h1 {
    position: relative;
    color: #55493c;
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    border-radius: 5%;
    max-width: 100%;
    margin: 0 auto;
  }

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    width: 350px;
  }

  .swiper-slide img {
    border-radius: 1rem;
    display: block;
    width: 100%;
  }
</style>
