---

---

<script>
  import superConfetti from "../scripts/confetti.js";

  document.addEventListener("DOMContentLoaded", function () {
    const cardContainer = document.getElementById("cardId");
    const girarButton = document.getElementById("girarButton");

    girarButton.addEventListener("click", function () {
      cardContainer.classList.toggle("flipped");
      const textContainer = document.querySelector(".text_container");
      textContainer.classList.toggle("hidden");
      superConfetti();
    });
  });

  document.addEventListener("click", function (event) {
    if (!event.target.closest("#cardId")) {
      const clickedInside = document
        .querySelector("#cardId *")
        .contains(event.target);
      if (!clickedInside) {
        const cardContainer = document.getElementById("cardId");
        cardContainer.classList.remove("flipped");

        // Ocultar el contenido de la cara trasera
        cardContainer.querySelector(".photo_container").classList.add("hidden");

        // Mostrar el contenido de la cara frontal
        cardContainer
          .querySelector(".text_container")
          .classList.remove("hidden");
      }
    }
  });
</script>

<section id="inicio">
  <div class="card_container" id="cardId">
    <div class="text_container">
      <h1>Hoy es un dia especial!!!</h1>
      <button id="girarButton"> Clickeame</button>
    </div>
    <div class="photo_container hidden">
      <span> Feliz Cumpleaños!!!</span>
      <img src="/birthdaycat.png" alt="birthdayCat" />
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.7rem;
    min-height: 40rem;
    color: #55493c;
    font-family: "Yomogi", cursive;
  }

  /*  Rotacion */
  .card_container {
    width: 70%;
    height: 23rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    border-radius: 2rem;
    padding: 1rem;
    border: 10px solid #e1d5bd;
    margin-bottom: 4rem;
    margin-right: 2rem;
    perspective: 2000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("cuteCat.png"), url("cat1.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position:
      top left 20px,
      bottom right -1px;
  }

  .text_container,
  .photo_container {
    backface-visibility: hidden;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  .text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
  }

  .text_container.hidden {
    display: none;
  }

  .text_container img {
    display: none;
  }

  .photo_container {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    transform-origin: bottom center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    transform: rotateY(180deg);
  }

  .photo_container span {
    color: #e1d5bd;
    background-color: #52483c;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.6rem;
  }

  .photo_container img {
    background-color: #52483c;
    border-radius: 1rem;
    display: block;
    width: 30%;
  }

  .text_container h1 {
    background-color: #e1d5bd;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .text_container p {
    background-color: #e1d5bd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }

  .text_container button {
    font-family: "Yomogi", cursive;
    background-color: #e1d5bd;
    color: #52483c;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
  }

  .text_container button:hover {
    background-color: #52483c;
    color: #fff8e1;
  }

  @media (width < 768px) {
    section {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin-bottom: 8rem;
    }

    .card_container {
      width: 90%;
      min-height: 30rem;
      margin: 0;
      background-size: 80px;
    }

    .text_container h1 {
      text-align: center;
      font-size: 1.5rem;
    }

    .photo_container {
      margin-bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .photo_container span {
      text-align: center;
      font-size: 1rem;
    }

    .photo_container img {
      width: 80%;
    }
  }
</style>
