---
import Box from "../components/Box.astro";
---

<section id="mensajes">
  <div class="grid_container">
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
  </div>
</section>

<style>
  section {
    height: 100vh;
    margin-bottom: 10rem;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
