---
import Box from "../components/Box.astro";
---

<section id="mensajes">
  <div class="grid_container">
    <Box h1="Juli" class="box">
      aUdiculares y coLydora, nada más. Feliz cumpleaños 🎂🎉. Fin
    </Box>
    <Box h1="Tefa" class="box">
      como ya dije no recuerdo cómo era mi vida antes de que nos conociéramos,
      quizás porque teníamos 12 años y la verdad antes de eso qué le puede pasar
      a una persona que resulte interesante en la vida? pero ya pasaron doce
      años desde ese año y la idea de que podría llegar un momento de mi vida en
      el que pasaran doce años sin tener tu amistad al lado mío me llena de
      tristeza. espero que en ningún momento dejemos de ser personajes
      importantes en la vida de la otra, porque qué sentido tendría la vida?
      seré dramática (si) pero bueno, feliz cumpleaños de verdad! hasta 2028 no
      lo festejamos más.
    </Box>
    <Box h1="Esther" class="box">
      Queridísima michiamiga Morena me resulta loquisima la amistad que llevamos
      hace 10 años ya que nos hemos conocido vaya ser por que en Facebook, no
      recuerdo bien si fue un grupo equis o de algún fandom. Sea como sea
      agradecida de tener esta bonita amisted que nuestras unicas interacciones
      son videos de michinos y juntarnos cuando visitamos nuestras ciudad
      jajaja. Te deseo un muy feliz cumpleañito, ya 6 añitos xD si nos basamos
      en el bisiesto. Que recibas todo el amor de tu familia y amigos ❤️.
      Gracias por ser tan genial y esta amistad, Te quiero michiamiga ❤️
    </Box>
    <Box h1="Joel" class="box">
      Anhelo que sea un año de metas cumplidas, donde puedas ver que todo el
      esfuerzo invertido en vos y otras personas valio la pena, que puedas
      comprender lo valiosa que sos, no por lo que haces sino por quien sos en
      realidad y que vivas en plenitud
    </Box>
    <Box h1="Flor" class="box">
      Amiga, espero que lo pases hermoso en este día, que e te cumplan todos los
      deseos. La facultad nos unió y el tiempo nos hizo amigas, y ahora colegas.
      Super feliz de ser parte d Edu vida. Te quiero muchísimo
    </Box>
    <Box h1="Jacqui" class="box">
      Feliz cumple Maru! Te quiero mucho y te deseo muchas cosas bonitas aunque
      no te quieras venir a vivir a mi casa ☹️ Sos una persona maravillosa y me
      alegro mucho de tenerte en nuestras vidas. Brindemos por una vida llena de
      atrocidades culinarias y trekking😆
    </Box>
    <Box h1="Delfi" class="box">
      te adoro amiga, you are a real one and you know that, gracias por tu
      amistad, por siempre prestar tu oído, por tu empatía y tu comprensión, y
      por ser tan graciosa dios no puedo cagarme tanto de risa con vos tkm
    </Box>
    <Box h1="Nora" class="box">
      Feliz, feliz, feliz en tu día!!! Bendiciones infinitas para mi niña Maru
      🥰 Te amo!!!! Disfruta tu cumple!!!!
    </Box>
    <Box h1="Persona" class="box">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum eligendi
      mollitia maiores saepe odit, quidem repellat error dolor temporibus
      molestiae, voluptas totam itaque sapiente. Error, ipsum sit. Voluptas,
      repellendus eveniet.
    </Box>
  </div>
</section>

<style>
  section {
    height: 100vh;
    margin-bottom: 10rem;
    scroll-margin-top: 5rem;
  }

  .grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
