---
import Square from "./Square.astro";
---

<section id="momentos">
  <h1 class="section_tittle">Algunos momentos especiales...</h1>
  <div class="square_container">
    <Square h1="Persona 1" p="Hola soy un parrafo" />
    <Square h1="Persona 2" p="Hola soy un parrafo" />
    <Square h1="Persona 3" p="Hola soy un parrafo" />
    <Square h1="Persona 4" p="Hola soy un parrafo" />
    <Square h1="Persona 5" p="Hola soy un parrafo" />
    <Square h1="Persona 6" p="Hola soy un parrafo" />
    <Square h1="Persona 7" p="Hola soy un parrafo" />
    <Square h1="Persona 8" p="Hola soy un parrafo" />
    <Square h1="Persona 9" p="Hola soy un parrafo" />
    <Square h1="Persona 10" p="Hola soy un parrafo" />
  </div>
</section>

<style>
  section {
    /* filter: blur(10px); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    color: #55493c;
  }

  .section_tittle {
    font-weight: bold;
  }

  .square_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
  }

  @media (width < 768px) {
    section {
      margin-bottom: 10rem;
    }

    .section_tittle {
      font-size: 0.9rem;
    }

    .square_container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
</style>
