---
import Square from "./Square.astro";
---

<script>
  let currentSquare = null;
  let currentPContainer = null;

  function closeContent(square) {
    if (square.id === currentSquare.id) {
      currentPContainer.classList.add("hidden");
      // Elimina la línea que establece currentPContainer a null
    }
  }

  function toggleContent(square) {
    const newPContainer = square.querySelector(".p_container");

    if (newPContainer.classList.contains("hidden")) {
      newPContainer.classList.remove("hidden");
      newPContainer.style.opacity = 0;
      setTimeout(() => {
        newPContainer.style.opacity = 1;
      }, 10);
    } else {
      newPContainer.classList.add("hidden");
    }

    if (currentSquare) {
      closeContent(currentSquare);
    }

    currentSquare = square;
    currentPContainer = newPContainer;
  }

  // Declaración de la variable squares
  let squares = document.querySelectorAll(".square");

  // Utiliza la API de reactividad de Astro para volver a adjuntar los event listeners
  $: squares = document.querySelectorAll(".square");
  $: squares.forEach((square) => {
    square.addEventListener("click", () => {
      toggleContent(square);
    });
  });
</script>

<section id="momentos">
  <h1 class="section_tittle">Algunos momentos especiales...</h1>
  <div class="square_container">
    <Square id="1" img="/ProfileImages/Juli.jpg">
      <strong> Juli:</strong> Ah! Que hermosos momentos hemos atravesado con este
      ser de luz, tal vez recuerden momentos como cuando anduvimos en kayak, cuando
      chocamos puños epicamente en la cumbre de una montaña, cuando se lanzó de palomita
      desde un colectivo o como cuando ante nuestra estupefacta mirada y con absoluta
      impavidez procedió a agregar ¡¡¡EDULCORANTE EN LA CHOCOLATADA!!!
    </Square>
    <Square id="2" img="/ProfileImages/Esther.jpg">
      <strong> Esther:</strong> Me da pena pero hasta hace dos años pensaba que te
      llamabas Maria por que en todos lados tenias Maru xd ajajajaja
    </Square>
    <Square id="3" img="/ProfileImages/Joel.jpg">
      <strong> Joel:</strong> Cuando fuimos a desayunar, solo te conocía a través
      de lo que Exe me había contado. Sin embargo, al ponerle cara a esa persona
      y observar tus pensamientos, pude apreciar lo valiosa que eres. Comprendí por
      qué estás con Eze; eres una persona digna de inversión, con múltiples capacidades,
      además de ser generosa, divertida, empática y reflexiva.
    </Square>
    <Square id="4" img="/ProfileImages/Flor.jpg">
      <strong> Flor:</strong> Las videollamadas post rendir virtual y vos toda brotada
      y roja cual tomate 😂😂
    </Square>
    <Square id="5" img="/ProfileImages/Tefa.jpg">
      <strong> Tefa:</strong> depende, quién va a leer esto? se va a mostrar como
      presentación de power point en su cumpleaños? la verdad siento que con more
      hemos ido al infierno y el recorrido de vuelta juntas, ya no recuerdo cómo
      era mi vida antes de que nos conociéramos (y tampoco quiero!) la verdad podría
      recordar cualquier cosa (creo) pero voy a usar la oportunidad para mencionar
      que cuando nos fuimos de viaje de egresados al final ya no nos aguantabamos❤️
      te amo amigaaaa
    </Square>
    <Square id="6" img="/ProfileImages/Nora.jpg">
      <strong> Nora:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat corporis deleniti perspiciatis libero reiciendis adipisci eos
      non. Repellendus, consectetur? In veritatis alias nam enim porro veniam dolorum
      laborum nihil possimus.
    </Square>
    <Square id="7" img="/ProfileImages/Cande.jpg">
      <strong> Cande:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat corporis deleniti perspiciatis libero reiciendis adipisci eos
      non. Repellendus, consectetur? In veritatis alias nam enim porro veniam dolorum
      laborum nihil possimus.
    </Square>
    <Square id="8" img="/ProfileImages/Delfi.jpg">
      <strong> Delfi:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat corporis deleniti perspiciatis libero reiciendis adipisci eos
      non. Repellendus, consectetur? In veritatis alias nam enim porro veniam dolorum
      laborum nihil possimus.
    </Square>
    <Square id="9" img="/cat1.png">
      <strong> Valen:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Fugiat corporis deleniti perspiciatis libero reiciendis adipisci eos
      non. Repellendus, consectetur? In veritatis alias nam enim porro veniam dolorum
      laborum nihil possimus.
    </Square>
    <Square id="10" img="/cat1.png">
      <strong> Tato:</strong> Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Consequuntur aliquam eos dolorum iure culpa vel, fugit laudantium voluptas
      amet sint tempore sunt mollitia rem quibusdam architecto repudiandae error
      natus quos.
    </Square>
    <Square id="11" img="/ProfileImages/Jack.jpg">
      <strong> Jacqui:</strong> Siempre voy a guardar en mi memoria las mejores vacaciones
      del mundo! Las sesiones de fotos en la montaña, cuando casi te caiste mientras
      te hacías la vlogger, cuando nos corrió la avispa por el cerro y las veces
      que nos metimos al lago helado para disimular 😂
    </Square>
  </div>
</section>

<style>
  section {
    height: 100vh;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    color: #55493c;
  }

  .section_tittle {
    position: relative;
    font-weight: bold;
  }

  h1::after {
    position: absolute;
    content: "";
    background-color: #55493c;
    left: 20px;
    top: 30px;
    height: 2px;
    width: 80%;
  }

  .square_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
  }

  strong {
    font-size: 0.9rem;
  }

  @media (width < 768px) {
    section {
      margin-bottom: 20rem;
    }

    .section_tittle {
      font-size: 0.9rem;
    }

    .square_container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    strong {
      font-size: 0.8rem;
    }
  }
</style>
