---
import Square from "./Square.astro";
---

<!-- <script>
  const squares = document.querySelectorAll(".square");

  squares.forEach((square) => {
    square.addEventListener("click", () => {
      const pContainer = square.querySelector(".p_container");
      pContainer.classList.toggle("hidden");
    });
  });
</script> -->
<script>
  let currentSquare = null;
  let currentPContainer = null;

  function closeContent(square) {
    if (square.id === currentSquare.id) {
      currentPContainer.classList.add("hidden");
      // Elimina la línea que establece currentPContainer a null
    }
  }

  function toggleContent(square) {
    const newPContainer = square.querySelector(".p_container");

    if (newPContainer.classList.contains("hidden")) {
      newPContainer.classList.remove("hidden");
    } else {
      newPContainer.classList.add("hidden");
    }

    if (currentSquare) {
      closeContent(currentSquare);
    }

    currentSquare = square;
    currentPContainer = newPContainer;
  }

  // Declaración de la variable squares
  let squares = document.querySelectorAll(".square");

  // Utiliza la API de reactividad de Astro para volver a adjuntar los event listeners
  $: squares = document.querySelectorAll(".square");
  $: squares.forEach((square) => {
    square.addEventListener("click", () => {
      toggleContent(square);
    });
  });
</script>

<section id="momentos">
  <h1 class="section_tittle">Algunos momentos especiales...</h1>
  <div class="square_container">
    <Square id="1" />
    <Square id="2" />
    <Square id="3" />
    <Square id="4" />
    <Square id="5" />
    <Square id="6" />
    <Square id="7" />
    <Square id="8" />
    <Square id="9" />
    <Square id="10" />
  </div>
</section>

<style>
  section {
    /* filter: blur(10px); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    color: #55493c;
  }

  .section_tittle {
    font-weight: bold;
  }

  .square_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
  }

  @media (width < 768px) {
    section {
      margin-bottom: 10rem;
    }

    .section_tittle {
      font-size: 0.9rem;
    }

    .square_container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
</style>
