---
import Square from "./Square.astro";
---

<!-- <script>
  const squares = document.querySelectorAll(".square");

  squares.forEach((square) => {
    square.addEventListener("click", () => {
      const pContainer = square.querySelector(".p_container");
      pContainer.classList.toggle("hidden");
    });
  });
</script> -->
<script>
  let currentSquare = null;
  let currentPContainer = null;

  function closeContent(square) {
    if (square.id === currentSquare.id) {
      currentPContainer.classList.add("hidden");
      // Elimina la línea que establece currentPContainer a null
    }
  }

  function toggleContent(square) {
    const newPContainer = square.querySelector(".p_container");

    if (currentSquare) {
      closeContent(currentSquare);
      currentPContainer = null;
    }

    currentSquare = square;
    currentPContainer = newPContainer;

    currentPContainer.classList.toggle("hidden");
  }

  // Declaración de la variable squares
  let squares = document.querySelectorAll(".square");

  // Utiliza la API de reactividad de Astro para volver a adjuntar los event listeners
  $: squares = document.querySelectorAll(".square");
  $: squares.forEach((square) => {
    square.addEventListener("click", () => {
      toggleContent(square);
    });
  });
</script>

<section id="momentos">
  <h1 class="section_tittle">Algunos momentos especiales...</h1>
  <div class="square_container">
    <Square h1="Parrafo" p="Hola soy un parrafo 1" id="1" />
    <Square h1="Parrafo" p="Hola soy un parrafo 2" id="2" />
    <Square h1="Parrafo" p="Hola soy un parrafo 3" id="3" />
    <Square h1="Parrafo" p="Hola soy un parrafo 4" id="4" />
    <Square h1="Parrafo" p="Hola soy un parrafo 5" id="5" />
    <Square h1="Parrafo" p="Hola soy un parrafo 6" id="6" />
    <Square h1="Parrafo" p="Hola soy un parrafo 7" id="7" />
    <Square h1="Parrafo" p="Hola soy un parrafo 8" id="8" />
    <Square h1="Parrafo" p="Hola soy un parrafo 9" id="9" />
    <Square h1="Parrafo" p="Hola soy un parrafo 10" id="10" />
  </div>
</section>

<style>
  section {
    /* filter: blur(10px); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    color: #55493c;
  }

  .section_tittle {
    font-weight: bold;
  }

  .square_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
  }

  @media (width < 768px) {
    section {
      margin-bottom: 10rem;
    }

    .section_tittle {
      font-size: 0.9rem;
    }

    .square_container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
</style>
