---
const { p, h1, id } = Astro.props;
---

<div class="square" id={id}>
  <h1>{h1}</h1>
  <div class="p_container hidden">
    <p>{p}</p>
  </div>
</div>

<style>
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid #e1d5bd;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #55493c;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .square:hover {
    background-color: #52483c;
    color: #f4ebdc;
  }

  .p_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    margin: auto;
    height: 10%;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #f4ebdc;
    color: #52483c;
  }

  .p_container.hidden {
    display: none;
  }

  @media (width < 768px) {
    .square {
      font-size: 0.8rem;
    }
  }
</style>
