---
const { h1, id, img, alt } = Astro.props;
---

<div class="square" id={id}>
  <div class="img_container">
    <img src={img} alt={alt} />
  </div>
  <div class="p_container hidden">
    <p>
      <slot />
    </p>
  </div>
</div>

<style>
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid #e1d5bd;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #55493c;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  /* .square:hover {
    transform: scale(1.1);
    background-color: #52483c;
    color: #f4ebdc;
  } */

  .img_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img_container img {
    width: 100%;
    object-fit: contain;
  }

  .p_container {
    background-color: white;
    color: #52483c;
    position: absolute;
    z-index: 10000;
    max-width: 400px;
    border: 1px solid #52483c;
    border-radius: 1rem;
    padding: 1rem;
    transition: opacity 0.7s ease-in-out;
  }

  .p_container.hidden {
    display: none;
  }

  .p_container p {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }

  @media (width < 768px) {
    .p_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 250px;
    }

    .p_container p {
      font-size: 0.8rem;
    }
  }
</style>
