---
import Navbar from "../components/Navbar.astro";
import "@fontsource/kosugi-maru";
import "@fontsource/caveat-brush";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/cat.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    scroll-behavior: smooth;
  }
  html {
    /* font-family: "Kosugi Maru", sans-serif; */
    font-family: "Caveat Brush", sans-serif;
    background: #568558;
  }

  main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  section {
    width: 80%;
  }

  @media (width < 768px) {
    section {
      width: 90%;
    }
  }
</style>
